In [17]:
url = "https://raw.githubusercontent.com/Apress/mastering-ml-w-python-in-six-steps/master/Chapter_3_Code/Code/Data/Grade_Set_1.csv"

In [18]:
import pandas as pd

In [21]:
df = pd.read_csv(url)

In [22]:
df

   Hours_Studied  Test_Grade
0              2          57
1              3          66
2              4          73
3              5          76
4              6          79
5              7          81
6              8          90
7              9          96
8             10         100